@charset "utf-8";
* {margin: 0; padding: 0;}
li {list-style: none;}
a {text-decoration: none; display: block;}
body {background: #ebfaff;}
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

/* body.member1 */
body.member1 {background: #ebfaff;}
.member1 .profile img {box-shadow: 5px 15px 30px rgba(173,216,230,0.3);}
.member1 .btnView {background: linear-gradient(45deg, #4affff, #35e0f7); box-shadow: 5px 10px 20px rgba(0,255,255,0.493);}

/* body.member2 */
body.member2 {background: #edffeb;}
.member2 .profile img {box-shadow: 5px 15px 20px #bdccb788;}
.member2 .btnView {background: linear-gradient(45deg, #a0ff9d, #55f5b2); box-shadow: 5px 10px 20px rgba(33,250,105,0.3);}

/* body.member3 */
body.member3 {background: #fff3fd;}
.member3 .profile img {box-shadow: 5px 15px 20px rgba(252,99,214,0.2);}
.member3 .btnView {background: linear-gradient(45deg, #ef74ff, #ff11c4); box-shadow: 5px 10px 20px rgba(255,17,196,0.357);}

/* body.member4 */
body.member4 {background: #f5f0ff;}
.member4 .profile img {box-shadow: 5px 15px 20px rgba(183,82,250,0.2);}
.member4 .btnView {background: linear-gradient(45deg, #8e74ff, #a011ff); box-shadow: 5px 15px 20px rgba(160,17,255,0.4);}

/* section */
section {width: 340px; padding: 30px; background: #fff; margin: 50px auto; box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1); border-radius: 10px;}
/* section > nav.menu */
nav.menu {width: 100%;}
nav.menu:after {content: ""; display: block; clear: both;}/* clearfix */
nav.menu a {font-size: 20px; color: #666;}
nav.menu a:nth-child(1) {float: left;}
nav.menu a:nth-child(2) {float: right;}

/* section > article.profile */
article.profile {width: 100%; text-align: center;}
article.profile img {width: 200px; height: 200px; border-radius: 50%; margin-bottom: 20px; box-shadow: 5px 15px 30px rgba(173,216,230,0.8);}
article.profile h1 {font: 700 22px "arial"; line-height: 1; color: #555; margin-bottom: 5px;}
article.profile h2 {font: 400 12px "arial"; color: #bbb; margin-bottom: 30px;}
article.profile a.btnView {width: 180px; height: 32px; margin: 0 auto 20px; /* background: #444; */ border-radius: 16px; font: 700 10px "arial"; color: #fff; line-height: 32px; text-align: center; /* background: linear-gradient(45deg, #4affff, #35e0f7); box-shadow: 5px 10px 20px rgba(0,255,255,0.493); */}

/* section > ul.contact */
ul.contact {margin-bottom: 25px;}
ul.contact li {width: 100%; padding: 10px 0; border: 1px solid #eee;}
ul.contact li:first-child {border-bottom: 0;}/* 보더가 안 겹치도록 */
ul.contact li i {width: 20%; text-align: center; color: #555; font-size: 15px; text-shadow: 2px 2px 2px #ddd;}
ul.contact li span {font: 400 11px "orbitron"; color: #555; letter-spacing: 1px;}

/* section > nav.others */
nav.others {width: 100%; text-align: center;}
nav.others a {display: inline-block; width: 30px; height: 30px; border-radius: 50%; margin: 0 10px; filter: saturate(0.7); opacity: 0.4;}/* inline-block으로 해서 flex처럼 한 줄로 만들려고 */
nav.others a:nth-child(1) {background: #35e0f7; box-shadow: 5px 5px 10px rgba(74,255,255,0.7);}
nav.others a:nth-child(2) {background: #55f5cd; box-shadow: 5px 5px 10px rgba(85,245,178,0.7);}
nav.others a:nth-child(3) {background: #ff80df; box-shadow: 5px 5px 10px rgba(255,128,223,0.7);}
nav.others a:nth-child(4) {background: #a794fd; box-shadow: 5px 5px 10px rgba(167,148,253,0.7);}
nav.others a.on {filter: saturate(1); opacity: 1;}/* 선택된 페이지 => 달라보이도록 */