@charset "utf-8";
* {margin: 0; padding: 0;}
li {list-style: none;}
a {text-decoration: none; display: block;}
img {border: 0;}

/* header */
.main_header {height: 45px; background: url(../img/header_background.png); position: relative; text-align: center; line-height: 45px;}
.main_header > h1 {color: #fff;}
.main_header > a, .main_header > label {display: block; height: 32px; position: absolute;}
.main_header > a.left {width: 62px; left: 5px; top: 7px; background: url(../img/sprite.png) 0 0 no-repeat; text-indent: -9999px;}
.main_header > label.right {width: 32px; right: 5px; top: 7px; background: url(../img/sprite.png) -62px 0 no-repeat; text-indent: -9999px; cursor: pointer;}

input#toggle {display: none;}
input#toggle + header#header_wrap > nav#toggle_gnb_wrap {display: none;}
input#toggle:checked + header#header_wrap > nav#toggle_gnb_wrap {display: block;}

#toggle_gnb_wrap {background: #363636; padding: 15px;}
.toggle_gnb {background: #fff; padding: 5px;}
.toggle_gnb > ul {overflow: hidden;}
.toggle_gnb > ul > li {width: 80px; float: left;}
.top_gnb {overflow: hidden; border-bottom: 1px solid #000; background: #b42111;}
.top_gnb div a {float: left; width: 25%;/* == calc(100% /4); */ height: 35px; line-height: 35px; color: #fff; text-align: center;}

.bottom_gnb {display: table; width: 100%; border-bottom: 1px solid #000;}
.bottom_gnb div {display: table-cell/* td */; position: relative;}
.bottom_gnb div a {display: block; height: 35px; line-height: 35px; text-align: center;}
.bottom_gnb div a::before {content: ''; display: block; position: absolute; top: 9px; left: -1px; width: 1px; height: 15px; border-left: 1px solid #000;}

.bottom_gnb div:first-child a::before {content:'';}

/* section */
.main_section {padding: 10px;}
/* 구글 크롬은 보통 기본 패딩 15px */
.main_section h1 {margin: 15px 0 5px;}/* 상 좌우 하 */
.main_section time {display: block; margin-bottom: 20px;}
/* time은 인라인이라서 block으로 먼저 바꿔주고 margin 값 주기 */
.s_article {text-align: justify; line-height: 1.6;}/* 양쪽 정렬 */

/* footer */
.main_footer {padding: 20px 10px/* 상하 좌우(section 패딩 맞춤) */; text-align: center; border-top: 3px solid #000;}