@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {margin: 0; padding: 0;}
li {list-style: none;}
a {text-decoration: none; display: block;}
body {background: #efefef;}

/* header */
header{width: 400px; height: 100%; background: linear-gradient(45deg, #0ff, royalblue); position: fixed;/* 화면 왼쪽에 고정 */ top: 0; left: 0;}
header h1 {font: 700 50px/1 "orbitron"; color: #fff; letter-spacing: 1px; position: absolute; left: 50px; top: 50%; transform: translateY(-150%);}
header h1:before {content: "UI/UX DEVELOPMENT"; display: block; font: 14px/1 "orbitron"; color: #fff; letter-spacing: 2px; position: absolute; left: 0; top: 140px; opacity: 0.8;}
header h1:after {content: ''; display: block; width: 150px; height: 2px; background: #fff; margin-top: 20px;}

/* header ul */
header ul {position: absolute; left: 40px; bottom: 100px;}
header ul li {float: left; margin-right: 10px;}
header ul li a {font-size: 20px; color: #fff;}
header ul li a span {display: inline-block; font-weight: 700; opacity: 0.7; transform: scale(0.7) translateX(-10px);/* 70% 축소하고 왼쪽으로 -10px만큼 이동 */}

/* main */
main {margin-left: 400px;/* 너빗값 없이 왼쪽 여백만 추가 */ box-sizing: border-box; padding: 20px;}

/* section */
main section {width: 100%;}
main section:after /* clearfix */ {content: ''; display: block; clear: both;}
main section article {width: 20%; float: left; box-sizing: border-box; padding: 12px;}
main section article div {width: 100%; height: 100%; background: #fff; border-radius: 4px; box-shadow: 5px 5px 10px rgba(0,0,0,0.1); box-sizing: border-box; padding: 14px;}
main section article div img {width: 100%;}
main section article div h2 {margin-top: 15px; font: 700 11px/1 "orbitron"; letter-spacing: 1px; color: #444; margin-bottom: 5px;}
main section article div p {font: 10px/1.2 "arial"; color: #777; margin-bottom: 15px;}

/* main ul */
main ul {width: 100%; margin-bottom: 10px; margin-right: 20px;}
main ul:after {content: ''; display: block; clear: both;}
main ul li {float: right; margin-right: 20px; width: 100px; height: 26px;}
main ul li a {display: block; width: 100%; height: 100%; font: 700 7px/26px "orbitron"; color: #aaa; letter-spacing: 1px; text-align: center; border-radius: 5px; box-shadow: 0px 0px 10px rgba(0,0,0,0.5); background: #fff;}
main ul li.on a {background: linear-gradient(45deg, #67faf3, #58abf8); box-shadow: 0px 5px 20px rgba(0,255,255,0.527); color: #fff;}

/* 미디어 쿼리를 이용하여 반응형 웹 제작 */
/* 1600px 미만일 때 => 왼쪽 header 영역의 너빗값을 약간 축소, 오른쪽 영역의 article 요소를 가로로 4개씩 배치 */
@media screen and (max-width:1599px) {
    header{width: 350px;}
    main{margin-left: 350px;}
    main section article{width: 25%;}
}
/* 1200px 미만일 때 => 헤더를 왼쪽이 아닌 상단으로 배치, main 컨텐츠를 아래로 내리고, article 요소를 가로 5개가 아닌 4개로 배치 */
@media screen and (max-width:1199px) {
    header {width: 100%; height: 80px; position: relative;}
    header h1 {font: 700 24px/1 "orbitron"; transform: translateY(-50%);}
    header h1:before, header h1:after {display: none;}
    header ul {left: 83%; bottom: 25px;}
    header ul li {margin-right: 20px;}
    header ul li a {font-size: 20px;}
    header ul li a span {display: none;}
    main {width: 100%; margin-left: 0;}
    main section article {width: 25%;}
}
/* 900px 미만일 때 => article이 가로로 3개씩 배치되도록 */
@media screen and (max-width:899px) {
    header ul {left: 80%;}
    main section article {width: 33.333%;}
}
/* 680px 미만일 때 => article 가로로 2개씩 */
@media screen and (max-width:679px) {
    header ul {left: 70%;}
    main section article {width: 50%;}
}
/* 540px 미만일 때 => article 가로로 1개씩 */
@media screen and (max-width:539px) {
    header ul {display: none;}
    main ul {margin-right: 0; box-sizing: border-box; padding: 0 13px;}
    main ul li {margin-right: 2%; width: 32%;}
    main ul li:nth-of-type(1) {margin-right: 0%;}
    main section article {width: 100%;}
}