@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100&display=swap');

* {margin: 0; padding: 0; box-sizing: border-box;}
li {list-style: none;}
a {text-decoration: none; outline: 0; display: block;}
img {border: 0;}

/* main */
main.m_main {width: 100%; height: 100vh; background: #333; display: flex;/* header + section 좌우배치 위함 */}

/* header */
.m_main header.m_header {width: 20%; height: 100%; padding: 10vh 5vw; display: flex; flex-wrap: wrap;/* 세로로 줄바꿈 */ align-content: space-between; justify-content: center; position: relative; z-index: 3; /* border: 10px solid pink; */}
.m_header h1 {font-size: 0px;/* 안쪽의 자간과 줄 높이를 초기화 */ color: #fff;}
.m_header h1 i {font-size: 5vw; margin-bottom: 15px;}
.m_header h1 span {font: normal 0.8vw/1 "arial";}
.m_header h1 address {font: normal 11px/1.2 "arial"; color: #888;}

/* nav */
.m_main nav.m_nav {position: absolute; top: 10vh; right: 5vw; z-index: 3; /* border: 10px solid #0ff; */}
.m_nav ul {display: flex;/* 자식 li요소를 좌우배치 */}
.m_nav ul li a {font-size: 18px; color: #bbb; margin-right: 30px;}

/* section */
.m_main section.m_section {position: relative; width: 80%; height: 100%; display: flex; padding-top: 140px; z-index: 1; /* border: 10px solid #ff0; */}

/* section article */
.m_section article {position: relative; flex: 1;/* 모든 article 요소의 너비를 동등하게 적용하겠다 */ padding:
70px 40px 100px; opacity: 0.6; transition: flex 1s, opacity 1s; z-index: 1; cursor: pointer;}
.m_section article:before/* 마우스 호버 시 왼쪽에서 나타날 가상의 패널 요소 */ {content: ""; display: block; width: 80%; height: 95%; background: #444; position: absolute; top: 0px; left: -200px;/* 마우스 호버 전 article의 왼쪽 바깥쪽에 배치 */ opacity: 0;/* 마우스 호버 전 투명하게 숨김 처리 */ transition: 1s;}

/* section article .inner */
article .inner {width: 100%; height: 100%; display: flex; flex-wrap: wrap; align-content: space-between;/* .txt와 figure 요소를 위 아래 끝에 배치 */ position: relative;/* :before 요소 위쪽으로 배치 되도록 position 처리 */}

/* section article .inner .txt */
.inner .txt {width: 100%; transition: 0.5s;/* 호버 시 전환 효과 처리 */}
.inner .txt h2 {font: normal 2vw/1 "Alegreya Sans SC"; color: #fff; margin-bottom: 40px; padding-top: 70px; transition: 1s;/* 호버 시 전환 효과 처리 */}
.inner .txt h2:after /* h2요소 하단 꾸밈 효과 */ {content: ""; display: block; width: 40px; height: 2px; background: #777; margin-top: 20px; transition: 1.5s;}
.inner .txt p {font: 14px/1.4 "arial"; color: #999;}

/* section article .inner figure */
.inner figure {width: 100%; height: 15vh; background: #777; transform-origin: left center;/* 왼쪽 방향 기준으로 변형 일어나도록 중심축 변경 */ box-shadow: 5px 5px 30px rgba(0,0,0,0.3); position: relative; overflow: hidden; filter: saturate(10%);/* 영상 박스의 채도를 낮춤 */ transition: 1s;}
.inner figure video {width: 100%; height: 100%; object-fit: cover; transform: scale(1.1);/* 영상 가장자리의 여백 숨기기 위해 약간 확대 */}

/* article 영역에 호버 효과 적용 */
section.m_section article:hover {flex: 1.5;/* 호버된 요소만 너비 1.5배 증가 */ opacity: 1; z-index: 2;}
section.m_section article:hover:before {left: 0; opacity: 1;}
section.m_section article:hover .inner .txt {width: 75%;}
section.m_section article:hover .inner .txt h2 {font-size: 5vw; padding-top: 0;}
section.m_section article:hover .inner .txt h2:after {width: 120px; background: orange;}
section.m_section article:hover .inner figure {height: 25vh; filter: saturate(120%); transform: translateY(3vh);}

/* aside (목록 클릭하면 영상 소개 페이지 뜨도록) */
main.m_main aside {width: 100%; height: 100vh; background: #222; position: absolute; top: 0; left: -100%;/* 왼쪽 화면 바깥에 배치 */ opacity: 0; z-index: 2;/* z축의 순서를 2로 설정 -> section을 덮고, h1과 nav는 aside 위에 배치 */ box-sizing: border-box; padding: 20vh 7vw 14vh 20vw; display: flex; justify-content: space-between;/* 자식 요소인 .txt와 figure를 좌우 양 끝에 배치 */ transition: 1s;}
main.m_main aside.on /* 클래스 on이 붙으면 */{opacity: 1; left: 0%;/* 왼쪽 바깥에서 화면 안쪽으로 이동 */}
main.m_main aside .txt {width: 25%; height: 100%;}
main.m_main aside .txt h1 {font: normal 6vw/1 "Alegreya Sans SC"; color: #ddd; margin-bottom: 20px;}
main.m_main aside .txt span {cursor: pointer; color: orange;}
main.m_main aside figure {width: 72%; height: 100%;}
main.m_main aside figure video {width: 100%; height: 100%; object-fit: cover;}