@charset "UTF-8";

    * { margin: 0; padding: 0; }
    h1 { color: #f00; background-color: #ffff00; border: 2px solid #0000ff; }
    p { color: #00ff00; }

    div.second h1 { color: #000000; }
    div#third p { background-color: #ff0000; }