@charset "utf-8";
* {margin: 0; padding: 0;}
li {list-style: none;}
a {text-decoration: none; display: block;}
body{width: 100%; height: 100vh; overflow: hidden; background: #b1e1e2; animation: sky linear 20s infinite;}/* width 100%, height 100vh => 풀 스크린, overflow hidden => 영역에서 벗어나면 스크롤바가 생기지 X */

/* section */
h1 {width: 1000px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, 150%); font: 92px/1 "Poiret one"; color: #fff; text-align: center; animation: day linear 20s infinite;}
section {width: 1000px; height: 400px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -70%); /* border: 1px solid #f00; */}
/* section .sky */
section .sky {position: absolute; width: 100%; height: 100%;}
.sky .sun {position: absolute; top: -150px; left: 50%; margin-left: -100px; transform-origin: center 500px; animation: sun linear 20s infinite;}/* transform-origin => 중심축 : center 500px == left는 중간, top은 500px */
.sky .cloud1 {position: absolute; top: -30px; left: 10%; animation: flow linear 10s infinite;}
.sky .cloud2 {position: absolute; top: 20px; left: 0%; animation: flow linear 20s infinite;}
/* section .town */
.town .circle {position: absolute; top: 104px; left: 50%; margin-left: -165px; opacity: 0.7; animation: rotation linear 20s infinite;}
.town .night {position: absolute; bottom: 0px; left: 40px;}
.town .day {position: absolute; bottom: 0px; left: 40px; animation: day linear 20s infinite;}
/* section .people */
.people {width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; animation: day linear 20s infinite;}
.people .man {position: absolute; left: 0%; bottom: 0px; animation: flow linear 7s infinite;}
.people .family {position: absolute; left: 0%; bottom: 0px; animation: flow linear 20s infinite;}

/* keyframes */
/* rotation => 빙빙 도는 관람차 */
@keyframes rotation {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
/* sky => body의 배경색 변화 */
@keyframes sky {
    0% {background: #b08fcc;}
    25% {background: #b1e1e2;}
    50% {background: #fcd2e2;}
    75% {background: #636888;}
    100% {background: #b08fcc;}
}
/* sun => sun의 transform-origin: center 500px
이렇게 정해둔 축을 기준으로 rotate */
@keyframes sun {
    0% {opacity: 0; transform: rotate(-90deg);}
    25% {opacity: 1; transform: rotate(-30deg);}
    50% {opacity: 1; transform: rotate(30deg);}
    75% {opacity: 0; transform: rotate(90deg);}
    100% {opacity: 0; transform: rotate(-90deg);}
}
/* day => 밤에 특정 요소를 숨김 */
@keyframes day {
    0% {opacity: 0;}
    25% {opacity: 1;}
    50% {opacity: 1;}
    75% {opacity: 0;}
    100% {opacity: 0;}
}
/* flow => man, family의 이동
+ opacity로 나타났다가 사라졌다가 */
@keyframes flow {
    0% {left: 0%; opacity: 0;}
    10% {opacity: 1;}
    80% {opacity: 1;}
    100% {left: 90%; opacity: 0;}
}